<!DOCTYPE html>
<html>

<head>
    <title>Task List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
        }
    </style>

    <script>
        var taskPK = null;

        var tasks = {{ tasks_map }};
        var taskKeys = ["completed", "title", "description", "department_pk"]
        function getValues() {
            let values = {}
            taskKeys.forEach(k => {
                let el = document.getElementById(k)
                if (el) values[k] = el.value
            })
            values["completed"] = document.getElementById("completed").checked
            return values
        }
        function setValues(values) {
            taskKeys.forEach(k => {
                let el = document.getElementById(k)
                if (el) el.value = values[k]
            })
            document.getElementById("completed").checked = values["completed"]
        }

        function editNewTask() {
            taskPK = null
            let values = {}
            taskKeys.forEach(k => { values[k] = "" })
            setValues(values)
            openModal()
        }
        function editTask(editTaskPK) {
            taskPK = editTaskPK
            setValues(tasks[editTaskPK])
            openModal()
        }

        async function saveTask() {
            let payload = { pk: taskPK, ...getValues() }
            let res = await fetch(location.origin + "/api/tasks/save", {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                credentials: "include", body: JSON.stringify(payload),
                method: "POST",
            })
            let data = await res.json()

            document.getElementById("result").innerHTML = JSON.stringify(data)

            if (data.data) {
                location.reload()
            }
        }
        async function deleteTask(taskPK) {
            let payload = { pk: taskPK }
            let res = await fetch(location.origin + "/api/tasks/delete", {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                credentials: "include", body: JSON.stringify(payload),
                method: "POST",
            })
            let data = await res.json()

            document.getElementById("result").innerHTML = JSON.stringify(data)

            if (data.data) {
                location.reload()
            }
        }

        function openModal() {
            document.getElementById("task_modal").style.display = "flex";
        }
        function closeModal() {
            document.getElementById("task_modal").style.display = "none";
        }
        document.addEventListener("readystatechange", () => {
            Object.keys(tasks).forEach(pk => {
                let el = document.getElementById("task_edit_" + pk)
                if (el) el.style.display = tasks[pk].can_edit ? "block" : "none"
            })
        })
        document.addEventListener("click", (e) => {
            if (e.target.id == "task_modal") closeModal()
        })
    </script>
</head>

<body style="display: flex; flex-direction: column; gap: 8px; margin: 0;">
    <div>{{user.name}}</div>
    <h1>Task List</h1>
    <table>
        <thead>
            <tr>
                <th>название</th>
                <th>описание</th>
                <th>автор</th>
                <th>отдел</th>
                <th>выполнено</th>
                {% if can_create_task %}
                <th>редактирование</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.author.name }} <span style="opacity: 0.5;">[{{task.author.position.name}}]</span></td>
                <td>{{ task.department.name }}</td>
                <td>{{ task.completed|yesno:"✅,❌" }}</td>
                {% if can_create_task %}
                <td>
                    <div id="task_edit_{{task.pk}}">
                        <button onclick="editTask('{{task.pk}}')">✏️</button>
                        <button onclick="deleteTask('{{task.pk}}')">🗑️</button>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if can_create_task %}
    <button style="font-size: 20px; width: 100%;" onclick="editNewTask()">+</button>
    <div id="task_modal" style="display: none; position: absolute; width: 100%; height: 100%;
        background-color: rgba(0,0,0,0.5); align-items: center; justify-content: center;">
        <div
            style="position: absolute; display: flex; flex-direction: column; gap: 8px; width: 50%; height: 50%; padding: 20px; background-color: #fff; border-radius: 8px;">
            <h3>Редактирование задачи</h3>
            <div>
                <div>название</div>
                <input id="title" placeholder="название" style="width: 400px;" />
            </div>
            <div>
                <div>описание</div>
                <textarea id="description" placeholder="описание"></textarea>
            </div>
            <div>
                <div>отдел</div>
                <select name="select" id="department_pk">
                    {% for dep in departments %}
                    <option value="{{dep.pk}}">{{dep.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <input type="checkbox" id="completed" name="completed" />
                <label for="completed">Выполнено</label>
            </div>
            <div>
                <button onclick="saveTask()">Сохранить</button>
            </div>

            <div id="result"></div>
        </div>
    </div>
    {% endif %}
</body>

</html>